.jira-id{
    width: 10rem;
}

.dashboard-title{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: floralwhite;
    padding: 0.5rem;
    color: darkcyan;
}

td {
    font-size: 16px;
}

.pr-link{
    width: 15rem;
}
.deployment-table-header{
    font-size: 1rem;
    font-weight: bold;
    background-color: lightgray;
    padding: 0.5rem;
    color: darkblue;
}

.deployment-date-card{
    font-size: 1rem;
    color: darkblue;
    align-items: center;
}

.deployment-date-card .card{
    width: 100%;
    margin: 0.5rem;
    background-color: floralwhite;
    border-radius: 20px;
}

.scheduled-date{
    font-size: 1rem;
    color: cornflowerblue;
    font-family: "Arial Rounded MT Bold", sans-serif;
    align-items: center;
}

.results-found-text{
    display: flex;
    font-size: 0.75rem;
    font-family: "Arial Rounded MT Bold", sans-serif;
    align-items: center;
}

.results-found-text .result{
    margin-left: 10px;
    color: darkblue;
}

.card-header{
    display: flex;
    font-size: 12px;
    font-family: "Arial Rounded MT Bold", sans-serif;
}

.group-count{
    background-color: blue;
    margin-left: 2px;
    padding-left: 5px;
    font-size: 1rem;
    color: wheat;
    width: 30px;
    border-radius: calc(1rem / 2);
    font-family: "Arial Rounded MT Bold", sans-serif;
    align-items: center;
}
