.jira-id{
    width: 10rem;
}

.dashboard-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: ivory;
    text-align: center;
}
.title-container{
    margin-top: 1px;
    background-color: darkslategray;
    margin-bottom: 60px;
    border-radius: 5px;
}

td {
    font-size: 16px;
}

.pr-link{
    width: 15rem;
}
.deployment-table-header{
    font-size: 1rem;
    font-weight: bold;
    background-color: lightgray;
    padding: 0.5rem;
    color: darkblue;
}

.deployment-date-card{
    font-size: 1rem;
    color: darkblue;
    align-items: center;
}

.deployment-date-card .card{
    width: 100%;
    margin: 0.5rem;
    box-shadow: 10px 10px;
    max-width: fit-content;
}

.scheduled-date{
    font-size: 1rem;
    color: cornflowerblue;
    font-family: "Arial Rounded MT Bold", sans-serif;
    align-items: center;
}

.results-found-text{
    display: flex;
    font-size: 0.75rem;
    font-family: "Arial Rounded MT Bold", sans-serif;
    align-items: center;
}

.results-found-text .result{
    margin-left: 10px;
    color: darkblue;
}

.sync-time{
    margin-left: 60%;
    font-size: 0.75rem;
    color: darkblue;
    font-family: "Arial Rounded MT Bold", sans-serif;
    align-items: center;
}


/*Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px  black; /* If you want dots under the hoverable text */
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#upcoming-deployments-section{
    margin-top: 3rem;
}

.sidebar{
    background-color: #293b22;
    color: ivory;
    padding: 1rem;
    width: 200px;
    text-align: center;
}
.sidebar-sticky{
    background-color: ghostwhite;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 30%;
}

.nav-link{
    display: inline-block;
}
.nav-item.logo{
    margin-bottom: 20px;
}

.nav-link img{
    width: 5rem;
    height: 5rem;
}
