.jira-id{
    width: 10rem;
}

.dashboard-title{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: floralwhite;
    padding: 0.5rem;
    color: darkcyan;
}

td {
    font-size: 16px;
}

.pr-link{
    width: 15rem;
}
.deployment-table-header{
    font-size: 1rem;
    font-weight: bold;
    background-color: lightgray;
    padding: 0.5rem;
    color: darkblue;
}
